@model MvcProjetor.Models.ProjetorCampusViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Projetores" asp-action="Index">
    <p>
        <select asp-for="projetorCampus" asp-items="Model.campi">
            <option value="">All</option>
        </select>

        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.projetores[0].Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projetores[0].Campus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projetores[0].PossuiComputador)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.projetores)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PossuiComputador)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
